.main {
  padding-top: 100px;
}
.main h1 {
  color: #fff;
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 50px;
  font-family: OCR A Std, monospace;


}

body, html {
background-image:url(https://thumbs.gfycat.com/RealFlawedHoverfly-max-1mb.gif);
background-repeat: no-repeat;
background-position:center bottom;
background-size: cover;
background-color: black;
padding-top: 410px;
margin: 0;
}

.button {
  display: block;
  border-radius: 70px;
  background-color: #FF2FF4;
  border: 0 none;
  color: #7E457F;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;

  position: absolute;
    top: 64%; left: 85%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: Courier, monospace;
  font-size: 42px;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
