body {
    margin: 20px;

    font-family: Georgia, serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h1, h2 {
    text-align: center;
}

h3 {
    margin-bottom: 0;
}

ul {
    list-style: georgian;
    margin: 2px;
}

.border-grey {
    display: block;
    max-width: 800px;

    margin: 0 auto;
    padding: 18px;

    border: 1px solid grey;
    border-radius: 5px;

    background: #EFEFEF;
}

.striped {
    text-decoration: line-through 1px solid;
}
