body {
    font-family: Arial , serif;
    background: #C4BAFF;
}
p {
    color:black;
    font-family:Arial, sans-serif;
    font-size:24px;
    text-align: center;
}

div {
    width: 100%;
}

h1 {
  font-weight:bold;
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-family: Avantgarde, sans-serif;
}

span {
  color: blue;
  text-decoration: underline;
}
.bold {
  text-decoration: bold;
}

 .biger {
  font-size: 30px;
}

 .italic {
  font-style: italic;
}

.container {
  display: flex;
}

.main {
    background-color: #625D7F;
    width: 700px;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

.titre {
  text-align: left;
  font-family: arial;
  font-size:24px;
  padding-left: 25px;
  text-decoration: underline;
}
