#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu  li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:15em;
}
/* couleur des menus */
#menu li{
background-color: #741311;
}
#menu li:nth-child(2){
background-color: #7F2B24;

}
#menu li:nth-child(3){
background-color: #BF4036;

}
#menu li:last-child{
background-color: #E54D41;
}
/* background des menus quand on les survoles */
#menu li:first-child:hover, #menu li:first-child li:hover{
background:#E5E4E3;
}
#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{
background:#E5E4E3;
}
#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
background:#E5E4E3;
}
#menu li:last-child:hover, #menu li:last-child li:hover{
background:#E5E4E3;
}
/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
color:#000;}

body {
    font-family: Arial , serif;
    background: #C4BAFF;
}
p {
    color:black;
    font-family:Arial, sans-serif;
    font-size:24px;
    text-align: center;
}

div {
    width: 100%;
}

h1 {
  font-weight:bold;
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-family: Arial, sans-serif;
}

span {
  color: blue;
  text-decoration: underline;
}
.bold {
  text-decoration: bold;
}

 .biger {
  font-size: 30px;
}

 .italic {
  font-style: italic;
}

.container {
  display: flex;
}

.main {
    background-color: #625D7F;
    width: 700px;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

.titre {
  text-align: left;
  font-family: arial;
  font-size:24px;
  padding-left: 25px;
  text-decoration: underline;
}
